<template>
  <div>
    <section class="hero is-fullheight is-dark">
      <div class="hero-body">
        <section class="container is-fluid is-pushed-down">
          <div>
            <h1 class="has-text-centered has-text-weight-light has-text-white title is-1">
              <br>Itential Adapters & Pre-Built Integrations
            </h1>
            <br>
            <h2 class="subtitle has-text-weight-light has-text-white has-text-centered">
              Itential leverages REST-based adapter APIs to bridge your IT
              systems to network technologies.
              <br>Itential’s Automation Platform acts as an aggregated network
              API that federates functionality and data
              <br>from existing controllers, orchestrators and network management
              tools by utilizing adapters to communicate with
              <br>southbound systems in your network. These adapters simplify integration
              and enable users to expand
              <br>network automation activities across complex, diverse, and
              multi-domain environments.
            </h2>
            <br>
            <br>
          </div>
          <div class="container">
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/6connect.png">
                  </figure>
                  <p>
                    <strong>6connect Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-six_connect"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-six_connect"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/adtran.png">
                  </figure>
                  <p>
                    <strong>Adtran Mosaic Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/algosec.png">
                  </figure>
                  <p>
                    <strong>Algosec Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/amazon-ec2.png">
                  </figure>
                  <p>
                    <strong>Amazon EC2 Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/azure.png">
                  </figure>
                  <p>
                    <strong>Azure Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco ACI Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco DNA Center Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-dna_center"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-dna_center"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco EPN Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco NSO Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco PSIRT Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco Viptela Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-viptela"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-viptela"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cisco.png">
                  </figure>
                  <p>
                    <strong>Cisco WAE Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/cloudify.png">
                  </figure>
                  <p>
                    <strong>Cloudify Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/docker.png">
                  </figure>
                  <p>
                    <strong>Docker Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-docker"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-docker"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/email.png">
                  </figure>
                  <p>
                    <strong>Email Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/ericsson-granite.png">
                  </figure>
                  <p>
                    <strong>Ericsson Adaptive Inventory Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/gitlab.png">
                  </figure>
                  <p>
                    <strong>GitLab Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/gcp.png">
                  </figure>
                  <p>
                    <strong>Google Cloud Platform Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/infoblox.png">
                  </figure>
                  <p>
                    <strong>Infoblox Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/jira.png">
                  </figure>
                  <p>
                    <strong>Jira Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-jira"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-jira"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/kafka.png">
                  </figure>
                  <p>
                    <strong>Kafka Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/kubernetes.png">
                  </figure>
                  <p>
                    <strong>Kubernetes Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/ldap.png">
                  </figure>
                  <p>
                    <strong>LDAP Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/liveaction.png">
                  </figure>
                  <p>
                    <strong>LiveAction Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/microsoft-teams.png">
                  </figure>
                  <p>
                    <strong>Microsoft Teams Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/moogsoft.png">
                  </figure>
                  <p>
                    <strong>Moogsoft Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/mongodb.png">
                  </figure>
                  <p>
                    <strong>mongoDB Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/mysql.png">
                  </figure>
                  <p>
                    <strong>MySQL Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/napalm.png">
                  </figure>
                  <p>
                    <strong>Napalm Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/netbox.png">
                  </figure>
                  <p>
                    <strong>Netbox Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-netbox"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-netbox"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/netbrain.png">
                  </figure>
                  <p>
                    <strong>Netbrain Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-netbrain"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-netbrain"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/netcracker.png">
                  </figure>
                  <p>
                    <strong>Netcracker Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/openstack.png">
                  </figure>
                  <p>
                    <strong>Openstack Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/phpipam.png">
                  </figure>
                  <p>
                    <strong>phpIPAM Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/puppet.png">
                  </figure>
                  <p>
                    <strong>Puppet Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/radius.png">
                  </figure>
                  <p>
                    <strong>Radius Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/redhat-ansible-tower.png">
                  </figure>
                  <p>
                    <strong>Red Hat Ansible Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/redhat-ansible.png">
                  </figure>
                  <p>
                    <strong>Red Hat Ansible Manager Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/salesforce.png">
                  </figure>
                  <p>
                    <strong>Salesforce Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/saltstack.png">
                  </figure>
                  <p>
                    <strong>SaltStack Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/sevone.png">
                  </figure>
                  <p>
                    <strong>Sevone Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-sevone"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-sevone"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/slack.png">
                  </figure>
                  <p>
                    <strong>Slack Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-slack"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-slack"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/spirent-communications.png">
                  </figure>
                  <p>
                    <strong>Spirent Communications Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/steelconnect.png">
                  </figure>
                  <p>
                    <strong>Steel Connect Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-steel_connect"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-steel_connect"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/tufin.png">
                  </figure>
                  <p>
                    <strong>Tufin Adapter</strong>
                  </p>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/vc4.png">
                  </figure>
                  <p>
                    <strong>VC4 Adapter</strong>
                  </p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/vm-logo.png">
                  </figure>
                  <p>
                    <strong>Velocloud Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-velocloud"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-velocloud"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/vm-logo.png">
                  </figure>
                  <p>
                    <strong>VMware NSX T Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-vmware_nsx_t"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-vmware_nsx_t"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
            </div>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/vm-logo.png">
                  </figure>
                  <p>
                    <strong>VMware vCenter Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-vmware_vcenter"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-vmware_vcenter"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <figure class="image is-128x128">
                    <img src="../assets/adapters/zscaler.png">
                  </figure>
                  <p>
                    <strong>Zscaler Adapter</strong>
                  </p>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://gitlab.com/itentialopensource/adapters/adapter-zscaler"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-gitlab" />
                        </span>
                      </a>
                      <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="level-item"
                        href="https://www.npmjs.com/package/@itentialopensource/adapter-zscaler"
                      >
                        <span class="icon is-large">
                          <i class="fab fa-lg fa-npm" />
                        </span>
                      </a>
                    </div>
                  </nav>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box is-hidden">
                  <figure class="image is-128x128">
                    <img src="">
                  </figure>
                  <p>
                    <strong>EMPTY</strong>
                  </p>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <div class="has-wave-background has-background-dark">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%; fill: #e5f2fe;"
      >
        <path
          d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        />
      </svg>
    </div>
    <section class="hero is-light-blue has-background-light-blue is-small">
      <div class="hero-body">
        <div class="container is-fluid has-text-centered">
          <h1
            class="has-text-centered has-text-weight-light title is-1"
          >
            <br>
            Don’t see an integration you need?
          </h1>
          <h2
            class="has-text-centered has-text-weight-light title is-2"
          >
            Create Your Own Adapter On the Fly
          </h2>
          <br>
          <h2 class="subtitle has-text-weight-light has-text-centered">
            Itential’s Adapter builder enables you to easily create your own
            custom adapters
            <br>to integrate your entire IT ecosystem with
            Itential’s Automation Platform.
          </h2>
          <br>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="http://adapters.itential.io/"
            class="button is-primary"
          >
            <span>Create an Adapter</span>
          </a>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Cards',
};
</script>

<style scoped>
.is-pushed-down {
  padding: 2rem 0;
}

.box {
  position: relative;
  padding: 0rem 2rem 1rem 2rem;
}

.fa-gitlab:hover {
  color: #e24329;
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

.fa-npm:hover {
  color: #c12127;
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.has-wave-background {
  margin-top: -250px;
  width: 100%;
  height: 200px;
}
</style>
