<template>
  <section class="has-background-dark">
    <section class="container is-fluid is-pushed-down">
      <div>
        <h1 class="has-text-centered has-text-weight-light has-text-white title is-2">
          Explore Itential’s developer tools, resources, & open source projects
        </h1>
        <br>
        <h2 class="subtitle has-text-white has-text-centered has-text-weight-light">
          Itential was designed for DevOps and NetOps teams to accelerate the move
          toward software-driven networks <br>through automation and agile network operations.
          <br>
          <br>
          We rely on open source software and are committed to contributing back
          to the community with our own <br>developer projects and tools. Explore our resources,
          and start accelerating network automation across your organization.
        </h2>
        <br>
        <br>
      </div>
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="pre-built-automations"
                      src="../assets/pre-built-automations-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                Pre-Built Automations
              </p>
              <br>
              <p class="subtitle">
                Accelerate creation and execution of network automations use
                cases within the Itential Automation Platform.
              </p>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://gitlab.com/itentialopensource/pre-built-automations"
                class="button is-primary is-outlined is-card-button"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Start Automating</span>
              </a>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="create-adapter"
                      src="../assets/create-adapter-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                Create Your Own Adapter
              </p>
              <br>
              <p class="subtitle">
                Build your own custom adapters to integrate your entire IT
                ecosystem with Itential’s Automation Platform.
              </p>
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="button is-primary is-outlined is-card-button"
                href="https://adapters.itential.io/"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Start Building</span>
              </a>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="open-source"
                      src="../assets/open-source-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                Open Source Projects
              </p>
              <br>
              <p class="subtitle">
                Leverage and contribute to Itential’s open source network automation projects.
              </p>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://gitlab.com/itentialopensource"
                class="button is-primary is-outlined is-card-button"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Explore Projects</span>
              </a>
            </article>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="adapter-library"
                      src="../assets/adapter-library-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                Adapter Library
              </p>
              <br>
              <p class="subtitle">
                Browse Itential’s library of pre-built integrations to IT systems
                & network technologies.
              </p>
              <n-link
                class="button is-primary is-outlined is-card-button"
                to="/adapters"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>View All Adapters</span>
              </n-link>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="documentation"
                      src="../assets/documentation-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                Documentation
              </p>
              <br>
              <p class="subtitle">
                Explore the latest developer documentation including platform
                and admin guides, API reference materials, and more.
              </p>
              <a
                href="https://docs.itential.io"
                class="button is-primary is-outlined is-card-button"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Review Docs</span>
              </a>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image is-64x64">
                    <img
                      alt="faq"
                      src="../assets/faq-icon.svg"
                    >
                  </figure>
                </div>
              </div>
              <br>
              <p class="title is-4 has-text-centered">
                FAQs
              </p>
              <br>
              <p class="subtitle">
                Answers to all your Itential Automation Platform related questions.
              </p>
              <a
                href="https://docs.itential.io/faq/"
                class="button is-primary is-outlined is-card-button"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Get Answers</span>
              </a>
            </article>
          </div>
        </div>
      </div>
    </section>
    <div class="has-wave-background">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%; fill: #e5f2fe;"
      ><path
        d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      /></svg>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Cards',
};
</script>

<style scoped>
.is-pushed-down {
  padding: 3rem 0;
}

.box {
  position: relative;
  padding: 3rem 2rem;
  padding-bottom: 6rem;
}

.is-card-button {
  position: absolute;
  bottom: 2rem;
}

.has-wave-background {
  margin-top: -250px;
  width: 100%;
  height: 200px;
}
</style>
