<template>
  <section class="hero is-fullheight is-dark">
    <div class="hero-body has-bg-img">
      <div class="container is-fluid">
        <h1 class="title is-1 has-text-weight-light">
          Drive Automation for Modern Networks
          <h2
            class="title is-2 has-text-primary has-text-weight-light"
          >
            Automate More. Deliver Faster. Accelerate Change.
          </h2>
        </h1>
        <br>
        <h2 class="subtitle has-text-weight-light">
          Leverage the power of Itential’s automation tools & technology
          <br>to rapidly design, build, and run network automations.
        </h2>
        <a
          href="#explore"
          class="button is-primary is-outlined"
        >
          <span>Get Started</span>
        </a>
      </div>
    </div>
    <div
      id="explore"
      class="level is-bouncing is-only-visible-fullscreen"
    >
      <div class="level-item">
        <b-icon
          pack="fas"
          icon="chevron-down"
          size="is-medium"
        />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Featured',
};
</script>

<style scoped>
.has-bg-img {
  background: url("../assets/developer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.is-bouncing {
  animation: bounce .75s infinite alternate;
  -webkit-animation: bounce .75s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media not screen and (min-width: 1281px) {
  .has-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../assets/developer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .is-only-visible-fullscreen {
    visibility: hidden;
  }
}
</style>
