<template>
  <footer class="footer has-background-light-blue">
    <div class="content has-text-centered">
      <p>
        <a
          href="https://www.itential.com"
          class="has-text-dark is-spaced"
        >
          © 2019 Itential
        </a>
      </p>
      <a
        href="https://www.itential.com/privacy-policy/"
        class="has-text-dark is-spaced"
      >
        Privacy Policy
      </a>/
      <a
        href="https://www.itential.com/cookie-policy/"
        class="has-text-dark is-spaced"
      >
        Cookie Policy
      </a>/
      <a
        href="https://www.itential.com/terms-of-use/"
        class="has-text-dark is-spaced"
      >
        Terms of Use
      </a>/
      <a
        href="https://www.itential.com/eulicen/"
        class="has-text-dark is-spaced"
      >
        EULA
      </a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>
