<template>
  <nav
    class="navbar titlebar is-fixed-top is-dark is-spaced"
    role="navigation"
    aria-label="main dropdown navigation"
  >
    <div class="navbar-brand">
      <a
        class="navbar-item"
        href="/"
      >
        <img
          src="../assets/navbar-logo.svg"
          alt="Itential, LLC"
          width="170"
        >
      </a>
      <div
        class="navbar-burger"
        :class="{ 'is-active': showNav }"
        @click="showNav = !showNav"
      >
        <span />
        <span />
        <span />
      </div>
    </div>
    <div
      class="navbar-menu has-background-dark"
      :class="{ 'is-active': showNav }"
    >
      <div class="navbar-start">
        <div
          class="navbar-item is-hoverable has-dropdown"
        >
          <a
            class="navbar-link has-background-dark"
            :class="{ 'has-text-white': showNav }"
          >
            Tools
          </a>
          <div class="navbar-dropdown is-boxed">
            <n-link
              class="navbar-item "
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              to="/adapters"
            >
              Adapter Library
            </n-link>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://adapters.itential.io/"
            >
              Adapter Builder
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://gitlab.com/itentialopensource/pre-built-automations"
            >
              Pre-Built Automations
            </a>
          </div>
        </div>
        <div
          class="navbar-item is-hoverable has-dropdown"
        >
          <a
            class="navbar-link has-background-dark"
            :class="{ 'has-text-white': showNav }"
          >
            Resources
          </a>
          <div class="navbar-dropdown is-boxed">
            <a
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://docs.itential.io"
            >
              Documentation
            </a>
            <a
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://docs.itential.io/faq/"
            >
              FAQs
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://gitlab.com/itentialopensource"
            >
              Open Source
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://academy.itential.com/"
            >
              Itential Academy
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://www.itential.com/resources/?_sft_resource_type=webinars"
            >
              On-Demand Webinars
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="navbar-item"
              :class="{ 'has-text-white': showNav, 'has-background-dark': showNav }"
              href="https://www.itential.com/resources/?_sft_resource_type=videos"
            >
              Videos
            </a>
          </div>
        </div>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.itential.com/products/automation-platform/"
          class="navbar-item has-background-dark"
          :class="{ 'has-text-white': showNav }"
        >
          Itential Platform
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.itential.com/blog/introducing-itentials-new-developer-hub"
          class="navbar-item has-background-dark"
          :class="{ 'has-text-white': showNav }"
        >
          Blog
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/itential"
                class="button is-dark"
                aria-label="twitter"
              >
                <b-icon
                  pack="fab"
                  icon="twitter"
                />
              </a>
            </p>
            <p class="control">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/company/itential/"
                class="button is-dark"
                aria-label="linkedin"
              >
                <b-icon
                  pack="fab"
                  icon="linkedin"
                />
              </a>
            </p>
            <p class="control">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.youtube.com/channel/UCo8Uh94DsDWWL9kZ7QhZ1ig"
                class="button is-dark"
                aria-label="youtube"
              >
                <b-icon
                  pack="fab"
                  icon="youtube"
                />
              </a>
            </p>
            <p class="control">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://itential.atlassian.net/servicedesk/customer/portal/14"
                class="button is-primary"
              >
                <b-icon
                  pack="fas"
                  icon="external-link-alt"
                  size="is-small"
                />
                <span>Service Desk</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      showNav: false,
    };
  },
};
</script>
