<template>
  <section class="hero is-light-blue has-background-light-blue is-medium">
    <div class="hero-body">
      <div class="container is-fluid has-text-centered">
        <h1 class="title is-1 has-text-weight-light">
          Get Connected
        </h1>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.itential.com/email-preference-center/"
          class="button is-primary"
        >

          <span>Subscribe to Itential's Newsletter</span>
          <b-icon
            pack="fas"
            icon="users"
            size="is-small"
          />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.itential.com/request-a-demo/"
          class="button is-info"
        >

          <span>Request a Demo</span>
          <b-icon
            pack="fas"
            icon="angle-right"
            size="is-small"
          />
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Newsletter',
};
</script>
