<template>
  <Nuxt />
</template>
<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #0094d9;
$light: #e5f2fe;
$light-invert: findColorInvert($light);
$primary-invert: findColorInvert($primary);
$dark: #212537;
$info: #f37622;
$danger: #d32f2f;
$light-blue: #e5f2fe;
$light-blue-invert: findColorInvert($light-blue);
$citrine: #AB2896;
$citrine-invert: findColorInvert($citrine);
$control-border-width: 0.125em;

// Setup $colors to use as bulma classes (e.g. 'is-light-blue')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "light-blue": (
    $light-blue,
    $light-blue-invert
  ),
  "citrine": (
    $citrine,
    $citrine-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}
</style>
