<template>
  <div>
    <Navbar />
    <Adapters />
    <DarkFooter />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import Adapters from '../components/Adapters.vue';
import DarkFooter from '../components/DarkFooter.vue';

export default {
  components: {
    Navbar,
    Adapters,
    DarkFooter,
  },
};
</script>
