<template>
  <div>
    <Navbar />
    <Featured />
    <Cards />
    <Newsletter />
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import Featured from '../components/Featured.vue';
import Cards from '../components/Cards.vue';
import Newsletter from '../components/Newsletter.vue';
import Footer from '../components/Footer.vue';

export default {
  components: {
    Navbar,
    Featured,
    Cards,
    Newsletter,
    Footer,
  },
};
</script>
